html {
  background: url("../img/bg_linen.png") repeat fixed;  
  min-width:  400px;
  min-height: 440px;
}

p {
	text-align: left;
	margin-bottom: 0px;
}

#container {
	background: url("../img/bg_linen.png") repeat fixed;  
}

#img_bg { 
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 600px;
  max-height: 700px;
/*  margin-left: 15%;
  margin-right: 15%;*/    
  background: url("../img/bg.jpg") no-repeat center top; 
    /* fixed */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg',     sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale');
}

#navbar2 {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	right: 0;
	left: auto;
	top: 100%;
	z-index: 1000;	
	margin-top: 10%;
	margin-left: 55%;		
}

.obutton {
	background: none;
	border: none;
}

.credits {
	margin-top: 200px;
	margin-left: 25px;	
	color: black;
}

.logofont {
	font-family: 'Josefin Slab', serif, bold;
	font-size: 65px;	
	color: #fffeca;			
}

.logofont_small {
	font-family: 'Josefin Slab', serif;
	font-size: 45px;	
	color: #fffeca;		
}

.tooltip.bottom .tooltip-inner {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;    
    letter-spacing: 1px;
}

