.firstheader {
  background-color: #242b32;
  color: #f8f8f9;
}
.subheader {
  background-color: #37424c;
  color: #7b8690;
  font-size: 16px;
  min-height: 63px;
  margin-bottom: 10px;
}
.main-label {
  display: inline-block;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 14px;
}
#custom-search-form {
  float: right;
  display: inline-block;
  min-width: 210px;
  margin-bottom: 16px;
  margin-top: 16px;
}
#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-query:focus + button {
  z-index: 3;
}
.blog-teaser {
  background-color: #ececec;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 5px #a8a8a8;
  -moz-box-shadow: 0px 1px 5px #a8a8a8;
  box-shadow: 0px 1px 5px #a8a8a8;
  margin-bottom: 20px;
}
.aside-widget header {
  background-image: linear-gradient(to bottom, #f6f5f5 0%, #ebeaea 100%);
  background-repeat: repeat-x;
  border: 1px #ced5db solid;
}
.widewrapper.footer {
  background-color: #242b32;
  color: #b3b5b7;
  font-size: 14px;
}
.footer-widget {
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 23px;
}
.blog-teaser header img {
  margin-bottom: 20px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.blog-teaser header hr {
  border-top-color: #ced5db;
  border-bottom: none;
}
.blog-teaser header {
  padding-top: 20px;
  padding-right: 45px;
  padding-left: 45px;
  text-align: center;
}
.blog-teaser .body {
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom: 10px;
  color: #343a3f;
}
.blog-teaser .btn {
  float: right;
  margin-right: 45px;
  margin-bottom: 18px;
}
#tags .btn {
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.paging {
  margin-top: 0px;
}
.list-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
#newer_posts {
  cursor: pointer;
}
#older_posts {
  cursor: pointer;
}
.aside-widget header h3 {
  font-size: 24px;
  padding: 10px 20px 3px 20px;
  margin-top: 0;
  color: #48535f;
}
