body {
  font: 100% system-ui;
}

/* https://colorffy.com/palettes?color=Purple Deep Space */
body.dark-theme {
  background: #000421;
  box-shadow: 0 0 0 1000px #20062c;
}
body.dark-theme h1 {
	color: red;
}
body.dark-theme p {
  color: white;
}
/* references */
body.dark-theme a {
  color: red;
}