body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: normal;
}

body h1 a {  
  text-decoration: none;
  word-break: keep-all;
}

code {
	font-family: "Ubuntu Mono", monospace;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	hyphens: manual;
}

div.sourceCode {
	padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* https://colorffy.com/palettes?color=Purple Deep Space and Core */
body.dark-theme {
  background: #20062c;
  box-shadow: 0 0 0 1000px #000421;
}

body.dark-theme div.sourceCode {
	background: #110527
}

/* references */
body.dark-theme a {
  color: #0099ff;
}
/* main header - Welcome to the blog ! */
body.dark-theme h1 a {
  color: #f44f4f;
}

body.dark-theme h1 {
	color: #f67400;
}

body.dark-theme p {
  color: #FFF5EE;
}
